  <h1>Editing Book</h1>
  <div class="form-group">
    <label for="book_title">Title</label>
    <input class="form-control book_title" type="text" value="a" name="book[title]" id="book_title">
  </div>
  <div class="form-group">
    <label for="book_opinion">Opinion</label>
    <textarea class="form-control book_body" name="book[body]" id="book_body">a</textarea>
  </div>
  <div class="form-group">
    <%= link_to "Update Book", book_path, class: "btn btn-success", method: :patch %>
  </div>

  <%= link_to"Show",book_path(@book) %>
  |
  <%= link_to"Back", books_path %>
